<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.micronaut" level="INFO"/>
    <logger name="ai.djl" level="DEBUG"/>
    <logger name="com.krickert" level="DEBUG"/> <!-- Keep your app's debug logs if needed -->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>